<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

    <link href="/Static/CSS/style.css" rel="stylesheet">


</head>
<body>

    <h1>About Me</h1>

    <h2>My Education</h2>
    <!--"The following code goes into my educational background. My majors, year, courses and relevant skills are explained-->
    <p> I am a <em>senior</em> at University of <em>Maryland</em> majoring in Information Systems and Operations Management
    & Business Analytics. <strong>In short</strong>, Information Systems <strong>relates</strong> to business processes,
    people, and information technology working together.My second major, abbreviated as OMBA, relates to managing the functions and processes of a business and
    utilizing metrics and data to improve processes. Classes I took and tools I learned in school include:</p>
    <!--'This is where I explain a sample of four courses I took with the correlated tools I learned'-->
    <ul>
        <li>BMGT301: Excel</li>
        <li>BMGT302: Python & VBA</li>
        <li>BMGT402: SQL and Tableau</li>
        <li>BMGT430: R/Rstudio</li>
    </ul>

    <p>Other classes that I have taken are:</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>ECON305</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT364</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT408E</td>
            <td>Fall 2023</td>
        </tr>
    </table>

    <h2> My Work</h2>
    <!--'The following code goes over my recent work experience first, then I list my previous work experience'-->
    <p>Over the <em>past</em> summer I had the opportunity to be in a PwC consulting <strong>externship</strong> through
    ParagonOne. I <em>gained</em> experience in consulting in the nonprofit sector. I helped College for Social Innovation to
    discover new partnerships through research and comparative analysis, and backing my insights with data. I look
    forward to my Amazon internship this <strong>upcoming</strong> summer. Previous work experience also includes (in order):</p>
    <ol>
        <li>Youth soccer & flag football referee</li>
        <li>Restaurant busser & host</li>
        <li>Home Depot Cashier</li>
        <li>Restaurant server</li>
    </ol>

    <img class='logo' src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Robert H. Smith logo"
         >

    <a href="/hello"> hello.html </a>

    <p class="capitalize">My favorite websites are <a href="https://www.TikTok.com" target="_blank">TikTok</a> and <a href="https://www.instagram.com">Instagram</a>.</p>

    <p id="third_paragraph">
        For my additional paragraph, I would like to talk about Guatemala. This country is where my parents were born and raised.
        The country is beautiful and full of nature with popular tourist attractions such as Antigua. There is a lot of poverty unfortunately,
        but I believe that improved legislation and enforcement to guarantee funds to underdeveloped communities would help solve this problem. In
        other words, corruption is holding this country back significantly.
    </p>

</body>
</html>