{% extends "manager_base.html" %}

{% block page_title %}Employees{% endblock %}


{% block page_content %}

<h1 class="centered">Employee Roster</h1>

<!-- employee cards -->
<div class="container">
<div class="row">
        <div class="border-box col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4 cardcolor">
                        <img src="https://i.postimg.cc/j5mNp2XN/person.png" width= "50" height= "200" class="card-img-top" alt="Name">    </div>
                    <div class="col-md-8 cardcolor">
                        <div class="card-body">
                        <h5 class="card-title">nareena Doe</h5>
                        <p class="card-text">Full-Time</p>
                        <p class="card-text">(444) 333-2222</p>
                        <p class="card-text">jdoe@gmail.com</p>
                        <input class="form-control" type="text" placeholder="Assign Project" aria-label="default input example">
                        <button type="button" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-box col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0 cardcolor">
                    <div class="col-md-4">
                        <img src="https://i.postimg.cc/j5mNp2XN/person.png" width= "50" height= "200" class="card-img-top" alt="Name">    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Jane Doe</h5>
                        <p class="card-text">Full-Time</p>
                        <p class="card-text">(444) 333-2222</p>
                        <p class="card-text">jdoe@gmail.com</p>
                        <input class="form-control" type="text" placeholder="Assign Project" aria-label="default input example">
                        <button type="button" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-box col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0 cardcolor">
                    <div class="col-md-4">
                        <img src="https://i.postimg.cc/j5mNp2XN/person.png" width= "50" height= "200" class="card-img-top" alt="Name">    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Jane Doe</h5>
                        <p class="card-text">Full-Time</p>
                        <p class="card-text">(444) 333-2222</p>
                        <p class="card-text">jdoe@gmail.com</p>
                        <input class="form-control" type="text" placeholder="Assign Project" aria-label="default input example">
                        <button type="button" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-box col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0 cardcolor">
                    <div class="col-md-4">
                        <img src="https://i.postimg.cc/j5mNp2XN/person.png" width= "50" height= "200" class="card-img-top" alt="Name">    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Jane Doe</h5>
                        <p class="card-text">Full-Time</p>
                        <p class="card-text">(444) 333-2222</p>
                        <p class="card-text">jdoe@gmail.com</p>
                        <input class="form-control" type="text" placeholder="Assign Project" aria-label="default input example">
                        <button type="button" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>


 {% endblock %}