<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upcoming Appointments</title>
      <link href="static/css/style.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>

  <body class="smokywhite">
    <!--Bootstrap Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top customer2-navbar-color">
        <img src="https://i.postimg.cc/13qWGRwg/logo-2.png" width= "125" height="40" alt="Xand Maintenance, LLC">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/manager-dashboard">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Navigate
        </a>
          <!-- Here you can add what is included in the dropdown menu, and add links -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/quote-history">Project History</a>
          <a class="dropdown-item" href="/client-info">Client Information</a>
          <a class="dropdown-item" href="/employees">Employee Roster</a>
          <a class="dropdown-item" href="/upcoming-projects">Future Project Schedule</a>
          <a class="dropdown-item" href="/workrequest-receipt">Online Form Receipt</a>
          <a class="dropdown-item" href="/reports">Reporting</a>
          <a class="dropdown-item" href="/manager-notifications">Notifications</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

    <h1 class="centered">Upcoming Appointments</h1>

  <!-- Use the grid system to align cards -->
  <div class="row justify-content-center">
      <!--Example card 1-->
    <div class="col-md-11">
      <div class="my-2 border cardstyle">
        <div class="card-body">
            <div class="row">

                <!--Left Side-->
                <div class="col-md-6">
          <p class="card-text-style">
            <strong class="spacing-bottom">Date:</strong> Monday, 2/19/24<br>
            <strong class="spacing-bottom">Time:</strong> 9 am EST<br>
            <strong class="spacing-bottom">Location:</strong> 190 Parken Road, Columbia MD 21045<br>
          </p>
                </div>
                <!-- Right side -->
          <div class="col-md-6">
            <p class="card-text-style text-end move-left">
              <strong class="spacing-bottom">Service:</strong> Carpet Cleaning<br>
              <strong class="spacing-bottom">Quote:</strong> $11111
            </p>
          </div>
        </div>
           <!-- Buttons -->
                <button type="button" class="btn btn-success">Approve</button>
                <button type="button" class="btn btn-danger">Deny</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Use the grid system to align cards -->
  <div class="row justify-content-center">
      <!--Example card 2-->
    <div class="col-md-11">
      <div class="my-2 border cardstyle">
        <div class="card-body">
            <div class="row">

                <!--Left Side-->
                <div class="col-md-6">
          <p class="card-text-style">
            <strong class="spacing-bottom">Date:</strong> Monday, 2/19/24<br>
            <strong class="spacing-bottom">Time:</strong> 9 am EST<br>
            <strong class="spacing-bottom">Location:</strong> 190 Parken Road, Columbia MD 21045<br>
          </p>
                </div>
                <!-- Right side -->
          <div class="col-md-6">
            <p class="card-text-style text-end move-left">
              <strong class="spacing-bottom">Service:</strong> Carpet Cleaning<br>
              <strong class="spacing-bottom">Quote:</strong> $11111
            </p>
          </div>
        </div>
           <!-- Buttons -->
                <button type="button" class="btn btn-success">Approve</button>
                <button type="button" class="btn btn-danger">Deny</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Use the grid system to align cards -->
  <div class="row justify-content-center">
      <!--Example card 3-->
    <div class="col-md-11">
      <div class="my-2 border cardstyle">
        <div class="card-body">
            <div class="row">

                <!--Left Side-->
                <div class="col-md-6">
          <p class="card-text-style">
            <strong class="spacing-bottom">Date:</strong> Monday, 2/19/24<br>
            <strong class="spacing-bottom">Time:</strong> 9 am EST<br>
            <strong class="spacing-bottom">Location:</strong> 190 Parken Road, Columbia MD 21045<br>
          </p>
                </div>
                <!-- Right side -->
          <div class="col-md-6">
            <p class="card-text-style text-end move-left">
              <strong class="spacing-bottom">Service:</strong> Carpet Cleaning<br>
              <strong class="spacing-bottom">Quote:</strong> $11111
            </p>
          </div>
        </div>
           <!-- Buttons -->
                <button type="button" class="btn btn-success">Approve</button>
                <button type="button" class="btn btn-danger">Deny</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Use the grid system to align cards -->
  <div class="row justify-content-center">
      <!--Example card 4-->
    <div class="col-md-11">
      <div class="my-2 border cardstyle">
        <div class="card-body">
            <div class="row">

                <!--Left Side-->
                <div class="col-md-6">
          <p class="card-text-style">
            <strong class="spacing-bottom">Date:</strong> Monday, 2/19/24<br>
            <strong class="spacing-bottom">Time:</strong> 9 am EST<br>
            <strong class="spacing-bottom">Location:</strong> 190 Parken Road, Columbia MD 21045<br>
          </p>
                </div>
                <!-- Right side -->
          <div class="col-md-6">
            <p class="card-text-style text-end move-left">
              <strong class="spacing-bottom">Service:</strong> Carpet Cleaning<br>
              <strong class="spacing-bottom">Quote:</strong> $11111
            </p>
          </div>
        </div>
           <!-- Buttons -->
                <button type="button" class="btn btn-success">Approve</button>
                <button type="button" class="btn btn-danger">Deny</button>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>