{% extends "base.html" %}

{% block page_title %}
    Training Page
{% endblock %}

{% block page_head %}
    Training Page
{% endblock %}

{% block page_content %}

    <p> Welcome to your training for the TerpSys Student Information System. Training materials are currently under construction, but will be created very soon. Please check back soon or email Randy at <a href="mailto:01randysamayoa@gmail.com">01randysamayoa@gmail.com</a> if you wish to be placed on the waiting list.</p>

{% endblock %}